
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!capstone1/.ebextensions/
!capstone1/.ebextensions/*

/src/main/resources/static/webgl/Build/

